@model Capstone.Models.FileNFT

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>FileNFT</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NomeFile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeFile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoFile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoFile)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdFileNFT }) |
    @Html.ActionLink("Back to List", "Index")
</p>
