@model Capstone.Models.Collezioni

@{
    ViewBag.Title = "Dettagli Collezione";
    var isCreator = ViewBag.IsCreator ?? false; // Imposta il valore predefinito a false se non è presente nella ViewBag
}

<div class="container mt-5 py-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4 text-center">
                            <!-- Immagine della collezione -->
                            <img src="@Url.Content("~/Content/Images/Collezioni/" + Model.FotoCollezione)" class="img-fluid rounded" alt="Foto Collezione">
                        </div>
                        <div class="col-md-8">
                            <h2 class="card-title">@Model.NomeCollezione</h2>
                            <p class="card-text">@Model.Descrizione</p>
                            <hr>
                            <div class="row">
                                <div class="col-md-6">
                                    <p><strong>Categoria:</strong> @Model.Categorie.NomeCategoria</p>
                                    <p><strong>Data di Creazione:</strong> @Model.DataCreazione.ToShortDateString()</p>
                                    <p><strong>Royalties:</strong> @(Model.Royalties * 100)%</p>
                                </div>
                            </div>
                            <!-- Aggiungi pulsanti o azioni per la collezione -->
                            <div class="text-center mt-3">
                                @Html.ActionLink("Modifica Collezione", "Edit", "Collezioni", new { id = Model.IdCollezione }, new { @class = "btn btn-primary" })
                                @Html.ActionLink("Elimina Collezione", "Delete", "Collezioni", new { id = Model.IdCollezione }, new { @class = "btn btn-danger", onclick = "return confirm('Sei sicuro di voler eliminare questa collezione?')" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h3 class="text-center mb-4 text-white">NFT nella Collezione</h3>
            <div class="row">
                @foreach (var nft in Model.NFT)
                {
                    <div class="col-md-4 mb-4">
                        <div class="card card-nft bg-card text-white">
                            <img src="@Url.Content($"~/Content/Images/NFT/{nft.NomeFile}")" class="card-img-top" alt="NFT Image">
                            <div class="card-body">
                                <h5 class="card-title">@nft.NomeNFT</h5>
                                <p class="card-text">Prezzo: @nft.Prezzo EPC</p>
                                @if (nft.IsDisponibile)
                                {
                                    <div class="d-flex justify-content-center">
                                        <a href="@Url.Action("AggiungiAlCarrello", "Carrello", new { idNFT = nft.IdNFT, quantita = 1 })" class="btn btn-custom">Acquista</a>
                                    </div>

                                }
                                else
                                {
                                    <p class="text-muted text-center">Non Disponibile</p>
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="text-center mt-3">
                @if (isCreator)
                {
                    @Html.ActionLink("Crea Nuovo NFT", "Create", "NFTs", new { id = Model.IdCollezione }, new { @class = "btn btn-success" })
                }
            </div>
        </div>
    </div>
</div>
