@model IEnumerable<Capstone.Models.Utenti>

@{
    ViewBag.Title = "Index";
}
<div class="container mt-5 py-5">
    <h2 class="text-white">Lista Utenti</h2>
    <table class="table text-white">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FotoUtente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsArtista)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr class="vertical-center">
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @if (string.IsNullOrEmpty(item.FotoUtente))
                    {
                        <img src="https://via.placeholder.com/100" alt="Placeholder" class="img-thumbnail" width="100" />
                    }
                    else
                    {
                        <img src="@Url.Content("~/Content/Images/Utenti/" + item.FotoUtente)" alt="Foto Utente" class="img-thumbnail" width="100" />
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsArtista)
                </td>
                <td>
                    <a href="@Url.Action("Edit", new { id = item.IdUtente })" class="btn btn-sm btn-secondary bg-transparent mx-2">Modifica</a>
                    <a href="@Url.Action("Details", new { id = item.IdUtente })" class="btn btn-sm btn-custom bg-transparent mx-2">Dettagli</a>
                    <a href="@Url.Action("Delete", new { id = item.IdUtente })" class="btn btn-sm btn-danger bg-transparent mx-2">Elimina</a>
                </td>
            </tr>
        }

    </table>
</div>



