@model Capstone.Models.Utenti

@{
    ViewBag.Title = "Il mio Profilo";
}

<div class="container mt-5 py-5">
    <div class="row">
        <div class="col-md-4">
            @if (!string.IsNullOrEmpty(Model.FotoUtente))
            {
                <img src="~/Content/Images/Utenti/@Model.FotoUtente" alt="Foto Profilo" class="img-fluid rounded-circle mb-3" height="150">
            }
            else
            {
                <div class="placeholder-image rounded-circle mb-3"></div>
            }
            <div class="card bg-card text-white">
                <div class="card-body text-center">

                    <h4 class="card-title">@Model.Username</h4>
                    <p class="card-text">@Model.Email</p>

                    <!-- Aggiungi altri dettagli dell'utente se necessario -->
                </div>
            </div>
        </div>
        <div class="col-md-8 text-white">
            <!-- Aggiungi qui altre informazioni sul profilo dell'utente -->
            @Html.ActionLink("Modifica Profilo", "Edit", new { id = Model.IdUtente }, new { @class = "btn btn-primary" })
            <!-- Visualizza l'indirizzo del wallet se esiste -->
            @if (Model.Wallets.Any())
            {
                <p>Indirizzo del Wallet: @Model.Wallets.First().Address</p>
            }
            else
            {
                @Html.ActionLink("Genera Wallet", "GenerateWallet", null, new { @class = "btn btn-primary", id = "generateWalletBtn" })
            }
        </div>
    </div>
</div>
