@model Capstone.Models.Utenti

@{
    ViewBag.Title = "Il mio Profilo";
}

<!--<div class="container mt-5 py-5">
    <div class="row">
        <div class="col-md-4">
            @if (!string.IsNullOrEmpty(Model.FotoUtente))
            {
                <img src="~/Content/Images/Utenti/@Model.FotoUtente" alt="Foto Profilo" class="img-fluid rounded-circle mb-3" height="150">
            }
            else
            {
                <img src="https://api.dicebear.com/8.x/bottts/svg?seed=Zoe" alt="avatar" height="150" class="img-fluid rounded-circle mb-3" style="object-fit:cover" />
            }
            <div class="card bg-card text-white">
                <div class="card-body text-center">

                    <h4 class="card-title">@Model.Username</h4>
                    <p class="card-text">@Model.Email</p>-->
<!-- Aggiungi altri dettagli dell'utente se necessario -->
<!--</div>
    </div>
</div>
<div class="col-md-8 text-white">-->
<!-- Aggiungi qui altre informazioni sul profilo dell'utente -->
<!--@Html.ActionLink("Modifica Profilo", "Edit", new { id = Model.IdUtente }, new { @class = "btn btn-primary" })-->
<!-- Visualizza l'indirizzo del wallet se esiste -->
<!--@if (Model.Wallets.Any())
            {
                <p>Indirizzo del Wallet: @Model.Wallets.First().Address</p>
            }
            else
            {
                @Html.ActionLink("Genera Wallet", "GenerateWallet", null, new { @class = "btn btn-primary", id = "generateWalletBtn" })
            }
        </div>
    </div>
</div>-->

<div class="container mt-5 py-5">
    <div class="row justify-content-center">
        <div class="col-md-10 mt-5 pt-5">
            <div class="bg-light row shadow mb-5 rounded">
                <div class="col-sm-4 bg-info rounded-start">
                    <div class="card-body text-center text-white pb-3">
                        @if (!string.IsNullOrEmpty(Model.FotoUtente))
                        {
                            <img src="~/Content/Images/Utenti/@Model.FotoUtente" alt="Foto Profilo" class="rounded-circle mb-3 mt-5" height="150">
                        }
                        else
                        {
                            <img src="https://api.dicebear.com/8.x/bottts/svg?seed=Zoe" alt="avatar" height="150" class="rounded-circle mb-3 mt-5" style="object-fit:cover" />
                        }
                        <h2 class="fw-bold mt-3">@Model.Username</h2>
                        @if (Model.Wallets.Any())
                        {
                            <p>Wallet: @Model.Wallets.First().Address</p>
                        }
                        else
                        {
                            @Html.ActionLink("Genera Wallet", "GenerateWallet", null, new { @class = "btn btn-primary", id = "generateWalletBtn" })
                        }
                    <a href="@Url.Action("Edit", new { id = Model.IdUtente })" class="btn">
                        <i class="bi bi-pencil-square fs-2 text-white"></i>
                    </a>
                    </div>
                </div>
                <div class="col-sm-8 bg-white rounded-end">
                    <h3 class="mt-3 text-center ">Informazioni</h3>
                    <hr class="text-primary mt-0 w-25 text-center m-auto" />
                    <div class="row mt-5">
                        <div class="col-sm-6">
                            <p class="fw-bold">Username:</p>
                            <h6 class="text-muted">@Model.Username</h6>
                        </div>
                        <div class="col-sm-6">
                            <p class="fw-bold">Email:</p>
                            <h6 class="text-muted">@Model.Email</h6>
                        </div>
                    </div>
                    <hr class="text-primary" />
                    <h3 class="mt-5 pt-4 text-center ">...</h3>
                    <hr class="text-primary mt-0 w-25 text-center m-auto" />
                    <ul class="list-unstyled d-flex justify-content-center mt-4">
                        <li><a href="@Url.Action("MyWallet", "Wallets")"><img src="~/Content/Images/wallet.png" height="50" class="px-3" /></a></li>
                        <li><a href="@Url.Action("Index", "Collezioni")"><img src="~/Content/Images/collections.png" height="50" class="px-3" /></a></li>
                        <li><a href="@Url.Action("MyNFTS", "NFTs")"><img src="~/Content/Images/nft.png" height="50" class="px-3" /></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

