@model IEnumerable<Capstone.Models.Transazioni>

@{
    ViewBag.Title = "Index";
}

<div class="container mt-5 py-5">
    <h2 class="text-white">Lista Transazioni</h2>
    <table class="table text-white">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NFT.NomeFile)
            </th>
            <th>
               Acquirente
            </th>
            <th>
                Venditore
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Importo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataTransazione)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr class="vertical-center">
                <td>
                    @Html.DisplayFor(modelItem => item.NFT.NomeFile)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Utenti.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Utenti1.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Importo) EPC
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataTransazione)
                </td>
                <td>
                    <a href="@Url.Action("Edit", new { id = item.IdTransazione })" class="btn btn-sm btn-secondary bg-transparent mx-2">Modifica</a>
                    <a href="@Url.Action("Details", new { id = item.IdTransazione })" class="btn btn-sm btn-custom bg-transparent mx-2">Dettagli</a>
                    <a href="@Url.Action("Delete", new { id = item.IdTransazione })" class="btn btn-sm btn-danger bg-transparent mx-2">Elimina</a>
                </td>
            </tr>
        }

    </table>
</div>



